@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#about {
    margin-top: 150px;
    background-color: black;
    color: white;
    padding-bottom: 20px;
}

.header__abt {
    font-family: 'Rubik', sans-serif;
    font-size: 45px;
    padding-top: 160px;
    padding-bottom: 10px;
}

.abt__hello {
    color: #85ecb9;
}

.abt__p1, .abt__p2, .abt__p3 {
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 10px;
}

.p1__job {
    text-decoration: underline;
    text-decoration-color: #85ecb9;
    text-decoration-style: wavy;
}

.p1__company {
    text-decoration: underline;
    text-decoration-color: #6ce9aa;
    text-decoration-style: dotted;
}

.p1__stack, .p2__school, .p2__degree, .p3__mail {
    color: #6ce9aa;
}

.p3__mail {
    text-decoration: none;
}

.p1__stack:hover, .p2__school:hover, .p2__degree:hover, .p3__mail:hover {
    color: white;
    transition-duration: 0.5s;
}





