@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.footer {
    padding-top: 30px;
    background-color: black;
    color: #85ecb9;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 13px;
}

.footer__bottom {
    margin-top: 10px;
    margin-bottom: 10px; 
}

#bottomtotop {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #85ecb9;
    text-decoration: none;
}

.footer__bottom:hover {
    background-color: rgb(43, 43, 43);
}